<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>bodega_lodis_app</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	
	<!-- PhoneGap plugins for PhoneGap Build to attach to build -->
  <gap:plugin name="org.apache.cordova.device" version="0.2.12" source="pgb" />
  <gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" source="pgb" />
  <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" source="pgb" />

  <!-- Use the newest version of PhoneGap -->
  <preference name="phonegap-version" value="6.5.0" />

  <!-- Device permission is needed -->
  <feature name="http://api.phonegap.com/1.0/device"/>
</widget>
