<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="cl.dstchile.lodisapp" version="1.5.4">
    <name>Lodis App</name>
    <description>
        Checklist-Campañas-Dummies-Inventarios
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html"/>
    <access origin="*"/>
	<plugin name="phonegap-plugin-barcodescanner" spec="3.0.0">
	  <param name="CAMERA_USAGE_DESCRIPTION" value="To scan barcodes."/>
	</plugin>
	<plugin name="cordova-plugin-camera" spec="2.4.1" source="npm"/>
	<gap:plugin name="cordova-plugin-app-version" source="npm"/>
    <gap:plugin name="cordova-plugin-network-information" source="npm"/>
    <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
    <gap:plugin name="cordova-plugin-exitapp" source="npm"/>
    <gap:plugin name="cordova-plugin-splashscreen" source="npm"/>
    <platform name="android">
	<icon src="icon-36-ldpi.png" density="ldpi" width="36" height="36"/>
	<icon src="icon-48-mdpi.png" density="mdpi" width="48" height="48"/>
	<icon src="icon-72-hdpi.png" density="hdpi" width="72" height="72"/>
	<icon src="icon-96-xhdpi.png" density="xhdpi" width="96" height="96"/>
	</platform>
	
	<splash src="splash.png"/>
	<splash src="splash-land-ldpi.png" platform="android" qualifier="land-ldpi"/>
	<splash src="splash-land-mdpi.png" platform="android" qualifier="land-mdpi"/>
	<splash src="splash-land-hdpi.png" platform="android" qualifier="land-hdpi"/>
	<splash src="splash-land-xhdpi.png" platform="android" qualifier="land-xhdpi"/>
	<preference name="SplashScreenDelay" value="4000"/>
	
	
</widget>
